@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "THUNDER-LIGHT";
  src: url("../public/fonts/Thunder-LightLC.otf");
}
@font-face {
  font-family: "THUNDER-MEDIUM";
  src: url("../public/fonts/Thunder-MediumLC.otf");
}
@font-face {
  font-family: "THUNDER-BOLD";
  src: url("../public/fonts/Thunder-BoldLC.otf");
}

@font-face {
  font-family: "Playfair-Regular";
  src: url("../public/fonts/PlayfairDisplayRegular-ywLOY.ttf");
}

.tab-enter {
  opacity: 1;
  transform: translateY(-100px);
}
.tab-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.tab-exit {
  opacity: 1;
}
.tab-exit-active {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 300ms, transform 300ms;
}
